<footer class="footer">
  <small>
    Bets bolão do brasileirão &copy; 2017 todos os direitos reservados
  </small>
  <nav>
    <ul>
      <li><%= link_to "Regras", regra_path %></li>
      <li><%= link_to "Contatos", contato_path %></li>
      <li><a href="http://globoesporte.globo.com/" target="_blank">Nóticias</a></li>
    </ul>
  </nav>
</footer>
